* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

body {
    position: relative;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 24px;

    background: #FFFFFF;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.heading {
    margin: 0 0 24px;

    font-size: 18px;
    letter-spacing: 0.02em;
}

form {
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.input-wrapper {
    width: 100%;
    position: relative;

    border: 1px solid #a4a4a480;
    border-radius: 10px;
    overflow: hidden;
}

input {
    width: 100%;
    height: 56px;
    padding: 5px 35% 0 20px;

    border: none;
    outline: none;

    color: #2A2A2A;
    font-size: 18px;

    transition: padding-top 0.2s;
}

.label {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f5f5f580;
    border-left: 1px solid #a4a4a480;;

    width: 32%;
    height: 100%;
}

.label-name {
    font-size: 18px;
    color: #2A2A2A;
}

.placeholder {
    position: absolute;
    top: 20px;
    left: 20px;

    opacity: 0.5;
    font-size: 18px;
    font-weight: 400;

    transition: top 0.2s, left 0.2s, font-size 0.2s;

    pointer-events: none;
}

input:not(:placeholder-shown)+.placeholder {
    top: 5px;
    left: 16px;

    font-size: 12px;
}

input:not(:placeholder-shown) {
    padding-top: 20px;
}


.arrow {
    margin: 12px;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 10px;

    font-size: 16px;
    white-space: nowrap;
    text-decoration: none;
    color: white;

    background: linear-gradient(269.99deg, #FF7100 0%, #FF8113 51.21%, #FF4D00 95.46%);
    
    margin-top: 32px;
    padding: 20px;

    cursor: pointer;
}

a:hover {
    box-shadow: 0px 12px 24px rgba(42, 42, 42, 0.07);
}

a:active {
    background: linear-gradient(269.99deg, #f06c00 0%, #ee7912 51.21%, #f34900 95.46%);
}   

@media screen and (max-width: 416px) {
    .wrapper {
        padding: 5.77vw;
        border-radius: 5.77vw;
    }
    
    .heading {
        margin: 0 0 5.77vw;
        font-size: 4.33vw;
    }
    
    .input-wrapper {
        border-radius: 2.45vw;
    }
    
    input {
        height: 13.7vw;
        padding: 1.22vw 35% 0 4.83vw;
        font-size: 4.33vw;
    }
    
    .placeholder {
        position: absolute;
        top: 4.83vw;
        left: 4.83vw;
        font-size: 4.33vw;
    }
    
    input:not(:placeholder-shown)+.placeholder {
        top: 1.22vw;
        left: 3.82vw;
        font-size: 2.88vw;
    }
    
    input:not(:placeholder-shown) {
        padding-top: 3.35vw;
    }

    .label-name {
        font-size: 4.83vw;
    }
    
    .arrow {
        margin: 2.88vw;
        width: 3.82vw;
        height: 3.82vw;
    }
    
    a {
        border-radius: 2.38vw;
        font-size: 3.82vw;
        margin-top: 7.72vw;
        padding: 2.38vw;
    }
    
    a:hover {
        box-shadow: 0px 2.88vw 5.77vw rgba(42, 42, 42, 0.07);
    }

    .label-coin {
        width: 7.72vw;
        height: 7.72vw;
    }
}